/*
 * Globals
 */
@import url('http://fonts.googleapis.com/css?family=Lato:400,300,700,900');

/* Links */
a,
a:focus,
a:hover {
	color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
	color: #324B6A;
	text-shadow: none; /* Prevent inheritence from `body` */
	background-color: #fff;
	border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
	height: 100%;
	background-color: #324B6A;
}
body {
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
	display: table;
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;

	background: url(../img/background2.jpg) no-repeat center top fixed;
	background-position: center center;
		-webkit-background-size: 100%;
		-moz-background-size: 100%;
		-o-background-size: 100%;
		background-size: 100%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
}
.site-wrapper-inner {
	display: table-cell;
	vertical-align: top;
}
.cover-container {
	margin-right: auto;
	margin-left: auto;
}

/* Padding for spacing */
.inner {
	padding: 30px;
}

/*
 * Header
 */
.masthead-brand {
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

.masthead-nav > li {
	display: inline-block;
}
.masthead-nav > li + li {
	margin-left: 20px;
}
.masthead-nav > li > a {
	padding-right: 0;
	padding-left: 0;
	font-size: 16px;
	font-weight: bold;
	color: #fff; /* IE8 proofing */
	color: rgba(255,255,255,.75);
	border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
	background-color: transparent;
	border-bottom-color: #a9a9a9;
	border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
	color: #fff;
	border-bottom-color: #fff;
}

@media (min-width: 768px) {
	.masthead-brand {
		float: left;
	}
	.masthead-nav {
		float: right;
	}
}


/*
 * Cover
 */

.cover {
	padding: 0 20px;
}
.cover .btn-lg {
	padding: 10px 20px;
	font-weight: bold;
}

/* 
 * Sponsors
 */ 
.sponsor-list{
	padding: 0px 20px;
}

.row-sponsor{
	display: block;
    align-items: center;
}

.img-sponsor{
    margin: 0 auto;
    height: auto; 
    width: auto; 
    max-width: 250px; 
    max-height: 300px;
}

/*
 * Footer
 */

.mastfoot > .inner {
	color: #999; /* IE8 proofing */
	color: rgba(255,255,255,.5);
	padding: 20px 0px 30px;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
	/* Pull out the header and footer */
	.masthead {
		position: fixed;
		top: 0;
	}
	.mastfoot {
		position: fixed;
		bottom: 0;
	}
	/* Start the vertical centering */
	.site-wrapper-inner {
		vertical-align: middle;
	}
	/* Handle the widths */
	.masthead,
	.mastfoot,
	.cover-container {
		width: 100%; /* Must be percentage or pixels for horizontal alignment */
	}
	.row-sponsor {
        display: flex;
    }
}

@media (min-width: 992px) {
	.masthead,
	.mastfoot,
	.cover-container {
		width: 900px;
	}
}

@media (max-width: 768px) {
	.mastfoot {
		padding: 30px 0px 5px;
	}
	.row-sponsor {
		display: inline-block;
    	margin-left: auto;
    	margin-right: auto;
	}
	.img-sponsor{
    	margin: 0 auto;
    	padding: 10px 0px;
    	height: auto; 
    	width: auto; 
    	max-width: 200px; 
    	max-height: 300px;
	}
}

